
* {
    margin: 0;
    box-sizing: border-box;
}

.containerNav {
    max-width: 1280px;
    margin: 0 auto;
    padding:0 20px;
    color: #063255;
}
.headingS {
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    border-bottom: 3px solid;
}
.navItems{
    align-items: center;
    padding: 0 1rem;
}
link{
    font-size: medium;
    font-weight: 700;
}
.rowS{
    display: flex;
    flex-wrap:wrap;
    gap: 40px;
}
link {
    list-style: none;
    /* color: #063255; */
    
}
link:hover{
 color: rgb(6, 67, 233);
}
a{
    text-decoration: none;
    color: #063255;  
}
/* a:-webkit-any-link {
    text-decoration: none;
    color: #063255;
  }
  a:-webkit-any-link:hover{
    color: rgb(6, 67, 233);
  } */
.logo {
    font-size: 1.5rem;
    font-weight: 100;
}
.navItems link {
    padding: 0 1rem;
    align-items: center;
}
.col-4{
    width: calc(100%/4 - 40px);
    flex-grow: 1;
    flex: 1 350px;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
